<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDetails</key>
	<dict>
		<key>DateTime</key>
		<string>Fri Apr  9 15:34:49 UTC 2021</string>
		<key>OSXVersion</key>
		<string>11.2.3</string>
		<key>Timestamp</key>
		<string>1617982489</string>
		<key>WebRTCCommit</key>
		<string>784d8500d9538e3858a4f596708c53b316da5aa8 Production build of v2.9.4</string>
		<key>XCodeVersion</key>
		<string>1200.1240</string>
	</dict>
</dict>
</plist>
