<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697998545507-a8sej9tq90alcu3mnbu2irn3o3cdafjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697998545507-a8sej9tq90alcu3mnbu2irn3o3cdafjr</string>
	<key>API_KEY</key>
	<string>AIzaSyDyd-JvogRFUozBKzGuM7ph5y1OEnOlsaA</string>
	<key>GCM_SENDER_ID</key>
	<string>697998545507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.grapherex</string>
	<key>PROJECT_ID</key>
	<string>grapherex</string>
	<key>STORAGE_BUCKET</key>
	<string>grapherex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697998545507:ios:7fd7e011654d2e49015e56</string>
	<key>DATABASE_URL</key>
	<string>https://grapherex.firebaseio.com</string>
</dict>
</plist>